* { margin : 0; padding : 0; }

//*, *:before, *:after { box-sizing : border-box; }

ul {
	list-style : none;
}

html {
	font-size : 10px;
}

body {
	line-height : 1;
}

p {
	@include list-margin(1rem, v);
	line-height : 1.3;
}

a {
	color           : inherit;
	text-decoration : none;
}

strong {
	font-weight : bold;
}

em {
	font-style : italic;
}

h1 {
}

h2 {
}

h3 {
}

h4 {
}

.btn-blank {
	outline    : none;
	border     : none;
	background : none;
	cursor     : pointer;
}

.btn-def {
	@extend .btn-blank;
	@include inline-block;
	@include transition(.1s);
	color         : $beige;
	background-color:$maroon;
	padding       : .2rem .4rem;
	font-size     : 1.2rem;
	text-transform: uppercase;

	text-transform: none;
	font-size:2.4rem;
	font-family:$font-alt;
	font-weight:$font-semibold;
	background:none;
	border:1px dotted $maroon;
	border-radius:10rem;
	color:$maroon;
	padding:1rem 4rem;

	&:hover {
		background-color:$maroon;
		color:$beige;
	}
}

.textarea-def {
	padding     : .5rem;
	font-size   : 1.2rem;
	font-family : $font-default;
	border      : 1px solid #7D0D00;
	resize      : none;
	background  : rgba(255, 255, 255, 0.3);
	color       : $black;
}

.input-def {
	background      : none;
	outline         : none;
	color           : inherit;
	cursor          : text;
	font-family     : $font-default;
	text-decoration : none;
	border:none;
	padding:.5rem;
}

.label-def {
	color:inherit;
	text-transform: uppercase;
	font-size:1.1rem;
	font-weight: $font-bold;
	padding:.5rem 0;
}

.box-shadow {
	box-shadow : 0 0 .5rem rgba($black, 0.8);
}

.hiddenInputs {
	width    : 0.1px;
	height   : 0.1px;
	opacity  : 0;
	overflow : hidden;
	position : absolute;
	z-index  : -1;
}

ol {
	counter-reset   : section;
	list-style-type : none;

	.numbered {
		margin-bottom : 1em;

		&:last-child {
			margin-bottom : 0;
		}

		&:before {
			counter-increment : section;
			content           : counters(section, ".") " ";
		}

		ul {
			margin-top  : 1em;
			margin-left : 1em;
		}

		ol {
			margin-left : 1em;
			margin-top  : 1em;
		}
	}
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}